.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.logo-text-footer {
  font-family: "Hello mozza";
  font-size: 20px;
  letter-spacing: 4px;
  text-align: right;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-address-text span {
  display: inline-block;
  width: 100%;
  font-size: 11px;
  text-align: center;
}

.footer-logo-container {
  display: flex;
  justify-content: center;
}

.footer-logo {
  width: 50%;
  height: 50%;
}

.footer-links-total {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 50px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.footer-link-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 10px;
}

.footer-link-column a {
  text-decoration: none;
  color: var(--color-text);
  margin: 5px 0;
}

.footer-link-column a:visited {
  color: var(--color-text);
}

.contact-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.contact-footer p {
  font-size: 15px;
}

.newsletter {
  margin-bottom: 20px;
}

.newsletter button {
  font-family: "Quicksand";
}

.copyright {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.copyright span {
  font-size: 10px;
}

.copyright a {
  text-decoration: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright a:visited {
  color: var(--color-text);
}

@media (min-width: 768px) {
  .footer-links-total {
    flex-direction: row;
    justify-content: space-around;
  }
  .contact {
    flex-direction: row;
    justify-content: space-around;
  }
  .copyright {
    flex-direction: row;
  }
  .footer-link-column-1 {
    border-right: 2px solid black;
  }

  .footer-logo {
    width: 30%;
    height: 30%;
  }

  .footer-links {
    flex-direction: row;
  }

  .social-links-footer {
    margin-bottom: -70px;
  }

  .footer-links-total > * {
    width: 30vw;
  }

  .footer-address-text span {
    text-align: right;
  }
  .copyright p {
    margin: 5px;
  }
}
